body{
   background-color: #0D5188;
     
}
th{
     color: white;
}
table{
     width: 600px;
     border-collapse: collapse;
     margin: 0 auto;
     font-family: Arial;
     font-size: 12px; 
     background-color: #66C5E3;
}

td:nth-child(2)td:nth-child(5){
     color: #0D5188;
     width: 15%;
}
td:nth-child(5){
     color: #0D5188;
     width: 15%;
}
td:nth-child(1){
   width: 10%;
   background-color: #c0c0c0;
}
td:nth-child(4){
     width: 10%;
     background-color: #c0c0c0;
  }
td:not(:nth-child(2)):not(:nth-child(5)):not(:nth-child(1)):not(:nth-child(4)){
     padding: 2px;
     color: #C7E7F3;
     font-weight: bold;
}